@font-face {
	font-family: 'opensans';
	src: url('./assets/fonts/OpenSans-Light.ttf') ;
  src: url('./assets/fonts/OpenSans-Regular.ttf') ;
	src: url('./assets/fonts/OpenSans-SemiBold.ttf') ;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
section,
article {
	@apply font-opensans;
}

body {
  margin: 0;
  font-family: 'opensans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.center {
  display: flex;
  justify-content: center;
  align-items:center;
}

.person:nth-child(3n+3) {
  padding-right: 0px;
}
.person:nth-child(3n+1) {
  padding-left: 0px;
}

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;